body,
html {
	height: 100%;
	width: 100%;
	background-color: #FFFFFF;
	color: #383838;
}

/* First setting the map styles */
.map {
	float: right;
	height: 100%;
	width: 85%;
}

/* Filling the list in the space left over */
.list {
	width: 15%;
	height: 50%;
	float: right;
	overflow-y: scroll;
}

/* Setting the style for the pop up description box */
.popup {
	padding: 2em;
}

/* Styling the pop up name */
.popupTitle {
	font-family: miso;
	font-size: 20;
	text-align: center;
	margin: 0 0 5px 0;
}

/* Styling the pop up favourite coffee */
.popupFave{
	font-family: miso;
	font-size: 20;
	text-align: center;
	margin: 0 0 15px 0;
}

input {
	width: 80%;
	margin: auto;
}

ul {
	padding: 0 0 0 10px;
}

li {
	margin: 0.8em 0 0 0;
}

li span {
	cursor: pointer;
}
